{% extends 'base.html' %}
{% load static %}

{% block content %}

<script>
$(document).ready(function(){
    $(".col-card").hover(
        function(){
            $(this).toggleClass("hover-card");
        },
        function(){
            $(this).toggleClass("hover-card");
    });

    $(".col-card").mousedown(function(){
        $(this).toggleClass("hover-card");
    });

    $(".col-card").mouseup(function(){
        $(this).toggleClass("hover-card");
    });

    $.ajax({
        url:"{% url 'vendor-list:vendor-list-json' %}",
        datatype: "jsonp",
        success: function(data){
            console.log(data[0].fields.name);
            $(".theCount").empty()
            $(".theCount").append(
                data.length
            )
        }
    });
});
</script>

<div class="container" id="vendors-container">
    <div class="row" id="add-vendor" style="max-width: 100%"></div>
        {% if request.user.is_staff %}
            <button type="button" class="btn no-style ml-auto" data-toggle="modal" data-target="#exampleModalCenter">
                + Add Vendor
            </button>
        {% endif %}
    </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Vendor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="{% url 'vendor-list:vendor-list-page' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="modal-body">
                    <div class="form-group">
                        {{ forms.name.errors }}
                        <label for="id_name">{{ forms.name.label }}</label>
                        {{ forms.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_star_ammount">{{ forms.info.label }}</label>
                        <div class="input-group">
                            {{ forms.info.errors }}
                            {{ forms.info }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.website.label }}</label>
                        <div class="input-group">
                            {{ forms.website.errors }}
                            {{ forms.website }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.email.label }}</label>
                        <div class="input-group">
                            {{ forms.email.errors }}
                            {{ forms.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.phone.label }}</label>
                        <div class="input-group">
                            {{ forms.phone.errors }}
                            {{ forms.phone }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.price_level.label }}</label>
                        <div class="input-group">
                            {{ forms.price_level.errors }}
                            {{ forms.price_level }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.food_type.label }}</label>
                        <div class="input-group">
                            {{ forms.foor_type.errors }}
                            {{ forms.food_type }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">{{ forms.vendor_picture.label }}</label>
                        <div class="input-group">
                            {{ forms.vendor_picture.errors }}
                            {{ forms.vendor_picture }}
                        </div>
                    </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn" style="background-color:pink">Add Vendor</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mx-auto" id="vendors-lists">
    {% for vendor in vendors %}
        <div class="col-12 col-4 col-card">
            <div class="card">
                <img class="card-img-top" src="{{ vendor.vendor_picture.url }}" alt="Card image cap">
                <div class="card-body">
                    <a href="/vendor/{{ vendor.slug }}"><h1 class="card-name">{{ vendor.name }}</h1></a>
                    {{ vendor.get_star_ammount }} <img class="img-fluid card-star my-2" src="{% static 'vendor/Star_4.svg' %}" alt="stars">
                    <p class="card-dollar">{{ vendor.get_dollars }}</p>
                    <p class="card-text">{{ vendor.info }}</p>
                </div>
            </div>
        </div>   
    {% endfor %}
    </div>

    <div class="vendor-count">
        <h2>Our Vendors: </h2>
        <div id="count-box">
            <h1 class="theCount">0</h1>
        </div>
        <h2>and still increasing</h2>
    </div>

{% endblock %}