{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 1rem;" id="vendor-info">
        <div class="row justify-content-center">
            <div class="col-3 card-vendor" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <div class="satu">
                    <img src= "{{ info.vendor_picture.url }}" class="img-fluid">
                    <p id="title">{{ info.name }}</p>
                    <div class="row justify-content-between">
                        <p class="col-6 font">{{ info.food_type }}</p>
                        <div class="col-auto font">{{ info.price_level }} | <span id="star-ammount">{{ info.get_star_ammount }}</span><img src="{% static 'vendor/Star_4.svg' %}" width="25px" height="25px"></div>
                    </div>
                    <hr>
                    <p class="font"><img src= "{% static 'vendor/Vector.svg' %}" width="20px" height="20px" class="img-fluid"> {{ info.website }}</p>
                    <p class="font"><img src= "{% static 'vendor/@.svg' %}" width="20px" height="20px" class="img-fluid"> {{ info.email }}</p>
                    <p class="font"><img src= "{% static 'vendor/call.svg' %}" width="20px" height="20px" class="img-fluid">{{ info.phone }}</p>
                </div>
            </div>

            <div class="col-7" style="border: #848484 solid 0.5px; padding: 0;">
                <div class="text-center menu-wrapper no-style" style="border: #848484 solid 0.5px">
                    <a class="menu font-title" href="/vendor/food/{{ info.slug }}/" style="border-right: #848484 solid 0.5px">
                        Food
                    </a>
                    <a class="active-info menu font-title" href="/vendor/review/{{ info.slug }}/" style="border-right: #848484 solid 0.5px">
                        Reviews
                    </a>
                    <a class="menu font-title" href="/vendor/{{ info.slug }}/">
                        Info & Pricing
                    </a>
                </div>
                <div class="row justify-content-center">
                    <div class="container-fluid">
        <div class="row" style="max-width: 100%">
            <div id="button-modal" class="row" style="width: 100%">
                {% if request.user.is_authenticated %}
                <button type="button" class="btn no-style ml-auto" data-toggle="modal" data-target="#exampleModalCenter3">
                    + Add Review
                </button>
            {% endif %}
            </div>
        </div>
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                  <div class="modal-body" id="modal-review-form">
                        <div class="form-group">
                            <label for="id_name">{{ forms.name.label }}</label>
                            {{ forms.name }}
                            <div id="name-error" class="error-messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="id_star_ammount">{{ forms.star_ammount.label }}</label>
                            <div class="input-group">
                                {{ forms.star_ammount }}
                                 <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Stars</span>
                                  </div>
                            </div>
                            <div id="star_ammount-error" class="error-messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="id_comment">{{ forms.comment.label }}</label>
                            <div style="position: relative">
                                {{ forms.comment }}
                                <h6 style="font-size: 1rem;position: absolute; right: 10px; bottom: 0;" id="counter-comment">200</h6>
                            </div>
                            <div id="comment-error" class="error-messages"></div>
                        </div>
                        <input type="hidden" name="store_id" value="{{ something }}">
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal-review" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="submitReview()" class="btn">Add Review</button>
                  </div>
            </div>
          </div>
        </div>
    <div class="row justify-content-center mt-2" id="review-field-comment" style="overflow-y: auto; max-height: 50vh;">
            <h4 class="text-center">Loading......</h4>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $.ajax({
            method: "GET",
            url: "/vendor/review/{{ slug }}/json",
        }).done((obj) => {
            $("#review-field-comment").html(obj.data.map((data) => {
                return `
                        <div class="col-10 mb-3 comment">
                            <div class="row">
                                <div class="col-9">
                                    <h5>${data.name}</h5>
                                    <h6 style="color: #848484; font-style: italic;">${data.date}</h6>
                                </div>
                                <div class="col-2">
                                    <div style="display: flex; flex-direction: row;">
                                        <h6 class="align-self-center mr-2 my-0">${data.star_ammount}</h6>
                                        <img src="/static/vendor/Star_4.svg" alt="" class="img-fluid align-self-center" style="max-height: 25px;">
                                    </div>
                                </div>
                            </div>
                            <p class="text-justify">${data.comment}</p>
                        </div>`
            }).join(""))
        });
        $("#id_comment").on({
            input:(e) => {
                    $("#counter-comment").html(200-e.target.value.length);
                }
            }
        );
        $(".comment").on({
            mouseover:function(){
                $(this).css("background-color","whitesmoke");
            },
            mouseleave:function (){
                $(this).css("background-color","white");
            }
        });
        $("#id_name").val("{{ request.user.first_name }}");
        const submitReview = () => {
            $.ajax({
                headers:{
                    "X-CSRFToken":Cookies.get("csrftoken")
                },
                url:'/vendor/review/{{ slug }}/',
                method: "POST",
                data:JSON.stringify({
                    'name':$("#id_name").val(),
                    'star_ammount':$("#id_star_ammount").val(),
                    'comment':$("#id_comment").val()
                }),
                contentType:"application/json"
            }).done((obj) => {
                if(obj.success){
                    $("#modal-review-form #id_star_ammount").val(1);
                    $("#modal-review-form #id_comment").val("");
                    $(".error-messages").html("");
                    $("#review-field-comment").html(obj.data.data.map((data) => {
                        return `
                        <div class="col-10 mb-3 comment">
                            <div class="row">
                                <div class="col-9">
                                    <h5>${data.name}</h5>
                                    <h6 style="color: #848484; font-style: italic;">${data.date}</h6>
                                </div>
                                <div class="col-2">
                                    <div style="display: flex; flex-direction: row;">
                                        <h6 class="align-self-center mr-2 my-0">${data.star_ammount}</h6>
                                        <img src="/static/vendor/Star_4.svg" alt="" class="img-fluid align-self-center" style="max-height: 25px;">
                                    </div>
                                </div>
                            </div>
                            <p class="text-justify">${data.comment}</p>
                        </div>`
                    }).join(""));
                    $("#star-ammount").html(obj.data.star);
                    $("#close-modal-review").trigger("click");
                }else{
                    Object.entries(obj.message).forEach(([key,value]) => {
                       $(`#${key}-error`).html(value.map((data) => {
                           return `<p style="color: red; font-size: 0.9rem" class="mb-0">${data}</p>`
                       }).join(""));
                    });
                }
            })
        }
    </script>
{% endblock %}