{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    $(document).ready(function(){
        $(".food_card").hover(
            function(){
                $(this).toggleClass("hover-card");
            },
            function(){
                $(this).toggleClass("hover-card");
        });

    
        $.ajax({
            url:"/vendor/food/food_lists/{{ slug }}/",
            datatype: "json",
            success: function(data){
                console.log(data[0].fields.name);
                $(".foodCount").empty()
                $(".foodCount").append(
                    data.length
                )
            }
        });
    });

    
</script>

<div class="container" style="margin-top: 1rem;" id="vendor-info">
        <div class="row justify-content-center">
            <div class="col-3 card-vendor" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <div class="satu">
                    <img src= "{{ info.vendor_picture.url }}" class="img-fluid">
                    <p id="title">{{ info.name }}</p>
                    <div class="row justify-content-between">
                        <p class="col-6 font">{{ info.food_type }}</p>
                        <div class="col-auto font">{{ info.price_level }} | {{ info.get_star_ammount }} <img src="{% static 'vendor/Star_4.svg' %}" width="25px" height="25px"></div>
                    </div>
                    <hr>
                    <p class="font"><img src= "{% static 'vendor/Vector.svg' %}" width="20px" height="20px" class="img-fluid"> {{ info.website }}</p>
                    <p class="font"><img src= "{% static 'vendor/@.svg' %}" width="20px" height="20px" class="img-fluid"> {{ info.email }}</p>
                    <p class="font"><img src= "{% static 'vendor/call.svg' %}" width="20px" height="20px" class="img-fluid">{{ info.phone }}</p>
                </div>
            </div>

            <div class="col-7" style="border: #848484 solid 0.5px; padding: 0;">
                <div class="text-center menu-wrapper no-style" style="border: #848484 solid 0.5px">
                    <a class="active-info menu font-title" href="/vendor/food/{{ info.slug }}/" style="border-right: #848484 solid 0.5px">
                        Food
                    </a>
                    <a class="menu font-title" href="/vendor/review/{{ info.slug }}/" style="border-right: #848484 solid 0.5px">
                        Reviews
                    </a>
                    <a class="menu font-title" href="/vendor/{{ info.slug }}/">
                        Info & Pricing
                    </a>
                </div>
                <div class="row justify-content-center">
                    <div class="container-fluid">
                        <div id="button-modal-food" class="row" style="max-width: 100%">
                            {% if request.user.is_staff %}
                            <button type="button" class="btn no-style ml-auto" data-toggle="modal" data-target="#exampleModalCenter">
                                    + Add Foods
                            </button>
                            {% endif %}
                        </div>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Add Food</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form class="food-form" action="/vendor/food/{{ slug }}/" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div id = "blah"></div>
                                                    {{ form }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Add Food</button>
            
                                                </div>
                                
                                            </form>
                                            <button class="btn btn-primary" onclick="getImage()"> test </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center" style="overflow-y: auto; max-height: 50vh;">
                                    {% for food in foods %}
                                    <div class="col-md-5 mx-auto mb-3 ">
                                            <div class="card food_card">
                                                    <img class="card-img-top" src="{{ food.food_image.url }}" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5>{{ food.name }}</h5>
                                                        <br>
                                                        <h6 style="color: #848484; font-style: italic;">{{ food.store_name }}</h6>
                                                    </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vendor-count">
            <h2> This vendor has</h2>
            <div id="count-box">
                <h1 class="foodCount">0</h1>
            </div>
            <h2>types of foods and still increasing</h2>
    </div>


{% endblock %}


