{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Radley|Ruthie&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/style_info.css' %}">
        <link rel="stylesheet" href="{% static 'homepage.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/vendor_list.css' %}">
        <title>Merrit</title>
    </head>
    <body>
            <nav class="navbar navbar-expand navbar-light container" id="navbar">
              <a class="navbar-brand" href="/" style="font-family: 'Ruthie', cursive;">Merrit</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/" id="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/vendor_list/" id="vendors">Vendors</a>
                  </li>
                  <li class="nav-item" id="account">
                      {% if request.user.is_authenticated %}
                          <div class="row ml-1 pl-2" style="border-left: black solid 1pt">
                              <h6 class="mb-0 align-self-center">Halo, <strong>{{ request.user.first_name }}</strong></h6>
                              <a style="cursor: pointer" class="nav-link" id="about" onclick="logout()">Logout</a>
                          </div>
                      {% else %}
                          <a style="cursor: pointer" class="nav-link" id="about" data-toggle="modal" data-target="#exampleModalCenter2">Login</a>
                      {% endif %}
                  </li>
                </ul>
              </div>
            </nav>
        <div>
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="modal-account">
                      <div class="container">
                          <div class="row justify-content-center">
                            <div class="col-2">
                                <button class="btn btn-secondary" id="btn-login" onclick="changeForm(this)">Login</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-secondary" id="btn-signup" onclick="changeForm(this)">Signup</button>
                            </div>
                      </div>
                      <div id="error-messages" class="error-message mt-2"></div>
                      <div class="form-group">
                          <label for="username">Username:</label>
                          <input type="text" id="username" class="form-control" required autofocus>
                          <div id="username-error" class="error-message"></div>
                      </div>
                      <div id="login-form" style="display: block; transition: 0.5s">
                          <div class="form-group">
                              <label for="password">Password:</label>
                              <input type="password" id="password" class="form-control" required>
                              <div id="password-error" class="error-message"></div>
                          </div>
                      </div>
                      <div id="signup-form" style="display: none; transition: 0.5s">
                           <div class="form-row">
                                <div class="form-group col-md-6">
                                      <label for="first-name">First Name:</label>
                                      <input type="text" class="form-control" id="first-name" required>
                                      <div id="first_name-error" class="error-message"></div>
                                </div>
                                <div class="form-group col-md-6">
                                      <label for="last-name">Last Name:</label>
                                      <input type="text" class="form-control" id="last-name" required>
                                      <div id="last_name-error" class="error-message"></div>
                                </div>
                          </div>
                          <div class="form-group">
                              <label for="email">Email:</label>
                              <input type="email" id="email" class="form-control" required>
                              <div id="email-error" class="error-message"></div>
                          </div>
                          <div class="form-group">
                              <label for="password">Password:</label>
                              <input type="password" id="password1" class="form-control" required>
                              <div id="password1-error" class="error-message"></div>
                          </div>
                          <div class="form-group">
                              <label for="passwordRepeat">Repeat Password:</label>
                              <input type="password" id="password2" class="form-control" required>
                              <div id="password2-error" class="error-message"></div>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close">Close</button>
                    <button type="button" class="btn btn-primary" id="account-submit-btn">Login</button>
                  </div>
                </div>
              </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script>
            let isHomepage = document.getElementById('homepage');
            let isVendor = document.getElementById('vendors-lists');
            let isVendorInfo = document.getElementById('vendor-info');
            let menus = document.getElementsByClassName("nav-link");

            if(isHomepage !== null){
                document.getElementById('navbar').classList.add("fixed-top")
                activate('home')
            }else if(isVendor !== null || isVendorInfo !== null){
                activate('vendors')
            }

            function activate(id) {
                for (var i = 0; i < menus.length; i++) {
                    menus[i].classList.remove("active");
                }
                document.getElementById(id).classList.add("active")
            }
            let loginSubmit = true;
            let loggedIn = {
                status:false,
                name:"",
                is_staff:undefined,
            };

            //Tambah fungsi buat manipulasi html di bagian sini
            function changeLoggedIn(command,data={}) {
                switch (command) {
                    case "LOGIN": //Buat munculin tombol dsb
                        loggedIn = {
                            ...loggedIn,
                            ...data
                        };
                        $("#button-modal").html(`<button type="button" class="btn no-style ml-auto" data-toggle="modal" data-target="#exampleModalCenter3">
                                                    + Add Review
                                                </button>`); //Contoh bagian review munculin tombol
                        $("#modal-message-btn").html(`<button type="button" class="btn no-style ml-auto" data-toggle="modal" data-target="#exampleModalCenter3">
                                                    + Add Message
                                                </button>`);
                        //Tambahin fungsi nya disini
                        $("#id_name").val(`${loggedIn.name}`);
                        if(loggedIn.is_staff){
                            $("#add-vendor").html(`<button type="button" class="btn no-style ml-auto" 
                        data-toggle="modal" data-target="#exampleModalCenter">
                        + Add Vendor
                         </button>`)
                         $("#button-modal-food").html(`<button type="button" class="btn no-style ml-auto"
                          data-toggle="modal" data-target="#exampleModalCenter">
                                    + Add Foods
                            </button>`)

                        }
                        break;
                    case "LOGOUT": //Buat ngereset
                        loggedIn = {
                            status:false,
                            name:"",
                            is_staff:undefined,
                        };
                        $("#button-modal").html("");
                        $("#add-vendor").html("");
                        $("#button-modal-food").html(""); //Contoh ngehapus tombol
                        $("#modal-message-btn").html("");
                        //Tambahin Fungsinya disini
                        break;


                }
            }

            function logout() {
                $.ajax({
                    headers:{
                        'X-CSRFToken':Cookies.get("csrftoken")
                    },
                    url:'/account/logout/',
                    method: "POST"}
                ).done((obj) => {
                    if(obj.success){
                        changeLoggedIn("LOGOUT");
                        $("#account").html(`<a style="cursor: pointer" class="nav-link" id="about" data-toggle="modal" data-target="#exampleModalCenter2">Login</a>`)
                    }
                });
            }
            $("#account-submit-btn").on("click",function() {
                $.ajax({
                    headers:{
                        'X-CSRFToken':Cookies.get("csrftoken")
                    },
                    url:(loginSubmit ? "/account/login/" : "/account/signup/"),
                    data:JSON.stringify(loginSubmit ? {
                        "username":$("#username").val(),
                        "password":$("#password").val()
                    }:{
                        "username":$("#username").val(),
                        "password1":$("#password1").val(),
                        "password2":$("#password2").val(),
                        "email":$("#email").val(),
                        "first_name":$("#first-name").val(),
                        "last_name":$("#last-name").val()
                    }),
                    contentType:"application/json",
                    method:"POST"
                }).done((obj) => {
                    if(!loginSubmit){
                        if(!obj.success){
                            Object.entries(obj.message).forEach(([key,value]) => {
                                $(`#${key}-error`).html(value.map((data) => {
                                    return `<p style="color: red; font-size: 0.9rem" class="mb-0">${data}</p>`
                                }).join(''))
                                $("#password1")[0].value = "";
                                $("#password2")[0].value = "";
                            })
                        }else{
                            changeLoggedIn("LOGIN",{
                               status: true,
                                name: obj.data.name,
                                is_staff: obj.data.is_staff
                            });
                            clearForm();
                            $("#account").html(`<div class="row ml-1 pl-2" style="border-left: black solid 1pt">
                              <h6 class="mb-0 align-self-center">Halo, <strong>${loggedIn.name}</strong></h6>
                              <a style="cursor: pointer" class="nav-link" id="about" onclick="logout()">Logout</a>
                          </div>`);
                            $("#modal-close").trigger("click");
                        }
                    }else{
                        if(!obj.success){
                            $("#error-messages").html(obj.message.map(data => {
                                return `<p style="color: red; font-size: 0.9rem">${data}</p>`;
                            }).join(''));
                            $("#password")[0].value = "";
                        }else{
                            changeLoggedIn("LOGIN",{
                               status: true,
                                name: obj.data.name,
                                is_staff: obj.data.is_staff
                            });
                            clearForm();
                            $("#account").html(`<div class="row ml-1 pl-2" style="border-left: black solid 1pt">
                              <h6 class="mb-0 align-self-center">Halo, <strong>${loggedIn.name}</strong></h6>
                              <a style="cursor: pointer" class="nav-link" id="about" onclick="logout()">Logout</a>
                          </div>`)
                            $("#modal-close").trigger("click");
                        }
                    }
                })
            });

            $("#modal-account input").on("keyup",function(event){
                if(event.keyCode === 13){
                    $("#account-submit-btn").trigger("click");
                }
            })

            function clearForm() {
                    let input = $("#modal-account input");
                    for (let i=0;i<input.length;i++){
                        input[i].value = "";
                    }
                    $(".error-message").html("");
            }

            function changeForm(obj){
                if(!obj.classList.contains("btn-secondary")){
                    clearForm();
                    if(obj.id === "btn-login"){
                        obj.classList.add("btn-secondary");
                        obj.classList.remove("btn-outline-secondary");
                        $("#btn-signup").removeClass("btn-secondary");
                        $("#btn-signup").addClass("btn-outline-secondary");
                        $("#signup-form").hide();
                        $("#login-form").show();
                        document.getElementById("account-submit-btn").innerHTML="Login";
                        document.getElementById("exampleModalCenterTitle").innerHTML="Login";
                        loginSubmit = true;
                    }else{
                        obj.classList.add("btn-secondary");
                        obj.classList.remove("btn-outline-secondary");
                        $("#btn-login").removeClass("btn-secondary");
                        $("#btn-login").addClass("btn-outline-secondary");
                        $("#signup-form").show();
                        $("#login-form").hide();
                        document.getElementById("account-submit-btn").innerHTML="Signup";
                        document.getElementById("exampleModalCenterTitle").innerHTML="Signup";
                        loginSubmit = false;
                    }
                }
            }
        </script>
    </body>
</html>