{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="homepage">
        <div class="row justify-content-center opening">
            <div class="col-md-4 offset-md-1 align-self-center opening-text">
                <h1>Looking For Catering For Your Wedding?</h1>
                <p style="max-width: 450px; margin-bottom: 2rem;">Lucky for you, we have more than 20.000 catering vendors waiting to serve you. All sertificated and has been rated.</p>
                <a href="/vendor_list/" class="no-style" style="color: white;
                    background-color: #DD5757;
                    border-radius: 20px;
                    padding: 0.5rem;
                    text-decoration: none;
                    ">Get Started</a>
            </div>
            <img class="img-homepage" src="{% static 'homepage.svg' %}" alt="">
        </div>
    </div>
{% endblock %}