#homepage{
    height: 100vh;
}

.opening > .col-md-4{
    margin-right: 4rem;
}

.opening-text > p{
    color: #565656;
    text-align: justify;
}

.img-homepage{
    width: 50vw;
    height: 100vh;
}
@media screen and (max-width: 1200px){
    .opening {
        position: relative;
        background-color: rgba(255,255,255, 0.4);
    }

    .opening-text {
        position: absolute;
        left: 0;
        bottom: 15vh;
    }

    .opening-text > p{
        color: #2e2e2e;
    }

    .opening > img{
        width: 100vw;
    }

    .img-homepage{
        z-index: -10;
    }
}

@media screen and (max-width: 1000px){
    .opening {
        position: relative;
        background-color: rgba(255,255,255, 0.4);
    }

    .opening-text {
        position: absolute;
        left: 0;
        bottom: 30vh;
    }

    .opening-text > p{
        color: #2e2e2e;
    }

    .opening > img{
        width: 100vw;
    }

    .img-homepage{
        z-index: -10;
    }
}

@media screen and (max-width: 500px) {
    .opening > img{
        height: 100vh;
        width: auto;
    }

    .opening-text{
        bottom: 50vh;
        text-align: center;
    }

    .opening-text > p{
        text-align: center;
    }
}