nav{
    font-family: 'Radley', serif;
    background-color: #FFD9D9;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.active{
    background-color: #FEFEFE;
    border-radius: 50%;
}